<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<form action="#" th:action="@{/courses/addCourse}" th:object="${course}" method="post">
		<h1 th:text="${course.id != 0} ? 'Editar curso' : 'Nuevo curso' ">
		</h1>
		<input type="hidden" th:field="*{id}" id="id">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Enter name"/>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Enter description"/>
		</div>
		<div class="form-group">
			<label for="price">Price</label>
			<input type="number" step="any" th:field="*{price}" class="form-control" id="price" placeholder="Enter price"/>
		</div>
		<div class="form-group">
			<label for="hours">Hours</label>
			<input type="number" th:field="*{hours}" class="form-control" id="hours" placeholder="Enter hours"/>
		</div>
		<a th:href="@{/courses/listCourses}">
			<button type="button" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i></button>
		</a>
		<input type="submit" class="btn btn-primary"/>
		
	</form>
	
</body>
</html>